aioredis==1.3.1
aniso8601==7.0.0
asgiref==3.2.10
async-timeout==4.0.3
attrs==23.2.0
autobahn==23.1.2
Automat==22.10.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.12.3
certifi==2024.2.2

channels==3.0.1
channels-redis==3.3.0
charset-normalizer==3.3.2

cryptography==42.0.5
daphne==3.0.2
Django==3.1.2
django-bootstrap4==2.3.1
django-extensions==3.0.9
django-graphql-jwt==0.3.4
django-redis==4.12.1
django-rosetta==0.9.9
django-sesame==2.0
django-webpack-loader==1.0.0
djangorestframework==3.15.1
graphene==2.1.9
graphene-django==2.13.0
graphene-file-upload==1.3.0
graphql-core==2.3.2
graphql-relay==2.0.1
hiredis==2.3.2
hyperlink==21.0.0
idna==3.6
incremental==22.10.0
json5>=0.9.24
msgpack==1.0.8
Pillow==10.1.0
polib==1.2.0
promise==2.3
psycopg2-binary==2.9.9
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
PyJWT==2.8.0
pyOpenSSL==24.1.0
python-dotenv==1.0.1
pytz==2023.3.post1
redis==5.0.3
requests==2.31.0
Rx==1.6.3
service-identity==24.1.0
singledispatch==4.1.0
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
text-unidecode==1.3
Twisted==24.3.0
twisted-iocpsupport==1.0.4
txaio==23.1.1
typing_extensions==4.11.0
tzdata==2024.1
Unidecode==1.3.7
urllib3==2.1.0
websocket-client==1.7.0
websockets==12.0
zope.interface==6.2
django-cors-headers==3.5.0
